<app-header></app-header>
<h2>UsersPages</h2>
<ul>
  <li><a routerLink="user-login">UserLogin</a></li>
  <li><a routerLink="user-signup">UserSignup</a></li>
  <li><a routerLink="user-dashboard">UserDashboard</a></li>
  <li><a routerLink="user-document">UserDocument</a></li>
  <li><a routerLink="user-profile">User-Profile</a></li>
  <li><a routerLink="user-register">User-Register</a></li>
  <li><a routerLink="user-status">User-Status</a></li>
</ul>
<h2>FacultyPages</h2>
<ul>
  <li><a routerLink="faculty-login">faculty-login</a></li>
  <li><a routerLink="faculty-list">faculty-list</a></li>
  <li>
    <a routerLink="faculty-register-student-list"
      >faculty-register-student-list</a
    >
  </li>
  <li><a routerLink="faculty-dashboard">faculty-dashboard</a></li>
</ul>
<h2>AdminPages</h2>
<ul>
  <li><a routerLink="admin-login">admin-login</a></li>
  <li><a routerLink="admin-dashboard">admin-dashboard</a></li>
</ul>

<!-- <app-footer></app-footer> -->

<router-outlet></router-outlet>
